@media only screen and (max-width: 767px) {
    /* Styles for small devices (portrait phones, 600px and down) */
    *{
        margin:0px;
        padding:0px;
        font-family:'Trebuchet MS';
    }
    body{
        background-color:#DF8E7C;
    }

    .navbar{
        width:100%;
        height:80px;
        background-color: black;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;  
    }

    #logo{
        color:red;
        font-size: 50px;
    
    }

    #shoppingcart{
        position:absolute;
        top:12px;
        right:40px;
        top:20px;
   
    }

   #sidebar{
        width:33px;
        height:45px;
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        padding-right:7px;
      
   }

   hr{
        width:30px;
        height:3px;
        background-color: white;
        border-radius:8px;
   }
   .searchbar{
        height:55px;
        background-color: black;
        display:flex;
        justify-content: center;
        align-items: center;
   }
   
   input{
        width:250px;
        height:35px;
        text-align: center;
        background-color: black;
        border-radius: 8px;
        Border:1px solid white;
        color:white;
   }
   #searchbutton{
        width:33px;
        height:33px;
        border-radius:50%;
        border:2px solid white;
        margin-left:8px;
        display:flex;
        align-items:center;
        justify-content:center;
   }

   #images{
    display:flex;
    justify-content: center;
    align-items: center;
    
   }

img{
    border-radius: 12px;
}
#menubar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;

}

a{
    text-decoration: none;
    color:black;
    font-family: 'Trebuchet MS';
    font-weight: 800;
    padding:5px;
}
.items{
    height:120px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#explorebar{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-evenly;
}
.deals{
    width:100px;
    height:100px;
    border:2px solid black;
    border-radius: 6px;
}

#Deals{
    background-image:url("/image/deal.jpeg");
    background-size: cover;
    
}

#HotCrispy{
    Background-image:url("image/hot&crispy.jfif");
    background-size: cover;
}

#Vegfood{
    background-image: url("image/vegfood1.jfif");
    background-size: cover;
}



  }
  
/* *{
    margin:0px;
    padding:0px;
}
.navbar{
    width:100%;
    background-color: black;


}
#logo{
    color:red;
    font-size: 50px;

} */